*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.wrapper{
    width: 100%;
    padding: 4em 5em;
}

section-one .row{
    display: flex;
    line-height: 35px;
}

.col-4 {
    flex: 4;
}

.col-4 img{
    width: 10em;
}
.row .text{
    text-align: center;
}

.row .text h4{
    font-size: 18px;
    font-weight: bolder;
}

.row .text h5{
    font-size: 20px;
}

.row .text h6{
    /* margin-top: 1.5rem; */
    font-size: 18px;
    background: orangered;
    border-radius: 3px;
    color: white;
}

.row .text p{
    font-size: 18px;
    font-weight: bolder;
}

/* section-two{ */
    /* padding: 2px; */
    /* width: 100%; */
    /* outline: 2px solid black; */
    /* height: 60px; */
/* } */
.section-two .row{
    padding: 10px;
}

section-two .row h6{
    margin-top: 1.5rem;
    padding: 7px;
    font-size: 18px;
    background: orangered;
    border-radius: 3px;
    color: white;
}

form{
    padding: 10px 0px;
}

.form-group{
    display: flex;
    gap: 10px;
}


.form-input{
    flex: 4;
    text-align: center;
}

.form-input label{
    font-size: 15px;
    font-family: Tahoma, Geneva, Verdana, sans-serif;
    line-height: 40px;
}

.form-input .input-form input{
    /* max-height: 100px; */
    background-color: rgb(253, 133, 89);
    max-width: 250px;
    height: 38px;
    width: 100%;
    padding: .5rem;
    font-size: 15px;
    border-radius: 4px;
    border: none;
    outline: none;
}
select{
    background-color: rgb(253, 133, 89);
    max-width: 250px;
    height: 38px;
    width: 100%;
    padding: .5rem;
    font-size: 15px;
    border-radius: 4px;
    border: none;
    outline: none;
}

input::placeholder{
    font-size: 15px;
    color: black;
}
.border{
    outline: none;
   border: none;
    border-bottom: 1px solid black;
   font-size: 18px;
    height: 38px;
    max-width: 250px;
    width: 100%;
    padding: .5rem;
}
ol li{
    padding-left: 20px;
    font-size: 18px;
}
/* continue */
section-two p{
    font-family: Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
}
.bottom{
    margin-bottom: 20px;
}

button{
    width: 100%;
    background-color: orangered;
    color: white;
    border: none;
    border-radius: 12px;
    height: 40px;
    margin-top: 15px;
    cursor: pointer;
}

  @media screen and (max-width: 414px) {
    .wrapper{
        padding: 20px;
    }
    
    section-one .row{
        display: flex;
        flex-direction: column;
        line-height: 25px;
        text-align: center;
    }
   
    .col-4 {
        flex: 4;
    }
    
    .col-4 img{
        width: 10em;
    }
    
    .row .text{
        text-align: center;
    }
    
    .row .text h4{
        font-size: 13px;
        font-weight: bolder;
    }
    
    .row .text h5{
        font-size: 16px;
    }
    
    .row .text h6{
        /* margin-top: 1.5rem; */
        font-size: 16px;
        background: orangered;
        border-radius: 3px;
        color: white;
    }
    
    .row .text p{
        font-size: 12px;
        font-weight: bolder;
    }
  
    section-two .row h6{
        margin-top: 1.5rem;
        padding: 7px;
        font-size: 18px;
        background: orangered;
        border-radius: 3px;
        color: white;
    }
     
    form{
        padding: 10px 0px;
    }
    
    .form-group{
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    .form-input{
        /* flex: 4; */
        text-align: left;
    }

    .form-input .input-form input{
        max-width: 400px;
        /* height: 50px; */
        width: 100%;
        background-color: rgb(253, 133, 89);
        border: none;
        outline: none;
    }
     select{
        background-color: rgb(253, 133, 89);
        max-width: 400px;
        height: 38px;
        width: 100%;
        padding: .5rem;
        font-size: 15px;
        border-radius: 4px;
        border: none;
        outline: none;
    }  
   
   
    section-two p{
    font-family: Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    }
  }